html, body {
    font-family: lato, sans-serif;
    color: #424551
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0px 15px;
    margin: 0 auto;
    height: 100%;
}

.button {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    white-space: nowrap;
    transition: .3s;
}

.button--empty {
    background-image: none;
    border-left: 2px solid #FF3F3A;
    border-right: 2px solid #F75E05;
    background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
    background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
    background-size: 100% 1px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;

    transition: 1.5s;
}

.button--empty span {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {

}

.heading {
    color: #1E212C;
}

.heading__subtitle {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;

    transition: 1s;
}

.heading__title {
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;

    transition: 1.5s;
}
/* =================================================================================================== */

.header {
    font-weight: 700;
    background: url('../images/decor/shapes-bg.svg') 0 0 / 100% 100% no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__top {

}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    line-height: 1.6;
    white-space: nowrap;
    transition: all .3s;
}

.header__nav-link:hover {
    color: #FF3F3A;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.header__user-nav {
    position: relative;
    padding-left: 28px;
}

.header__user-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../images/icon/user-icon.svg");
    width: 20px;
    height: 20px;
    display: block;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
    transition: all .3s;
}

.header__user-btn:hover {
    color: #FF3F3A;
}

.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin: auto 0;
}

.header__content {
    margin-right: 30px;
}

.header__play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.header__play svg{  
    margin-right: 16px;
    border-radius: 50%;
    transition: all .3s;
}

.header__play:hover svg{
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
    max-width: 500px;
    margin-bottom: 60px;
    font-size: 64px;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 1px;
}

.header__content-buttons {
    display: flex;
}

.header__content-btn {
    margin-right: 24px;
}

.header__content-btn:last-child {
    margin-right: 0px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin-bottom: 80px;
}

.header__row>span {
    width: 8px;
    height: 8px;
    background: #FF3F3A;
    border-radius: 50%;
    margin-right: 15px;
}

.header__row-item {
    display: flex;
    align-items: center;
}

.header__row-item span{
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    margin-right: 12px;
}

/* =========================================================================================== */

.about {
    padding: 180px 0 160px;
}

.about__inner {
    
}

.about__createx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 180px;
    position: relative;
}

.about__createx::before {
    content: "";
    position: absolute;
    top: -80px;
    right: -140px;
    background: url("/images/decor/shapes.svg");
    width: 100px;
    height: 85px;
}

.about__createx-content {
    max-width: 600px;
    margin-right: 30px;
}

.about__heading {
    margin-bottom: 48px;
}

.heading__subtitle:hover {
    transform: scale(1.2);
}

.heading__title:hover {
    transform: skew(30deg, 20deg);
}

.about__text {
    margin-bottom: 60px;
}

.about__paragraph {
    margin-bottom: 24px;
    font-weight: 400;
    line-height: 160%;
}

.about__paragraph:hover {
    color: red
}

.about__texabout__paragraph:last-child {
    margin-bottom: 0px;
}

.about__paragraph--accent {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: #1E212C;
}

.about__btn-box {
    display: flex;
}

.about__btn {
    margin-right: 24px;
}

.about__btn:hover {
    color: black;
    box-shadow: 7px 7px 7px 7px rgb(66, 69, 81);
}

.button--empty:hover {
    transform: scale(0.5) translate(-10%, -10%);
    box-shadow: none;
}

.about__btn:last-child {
    margin-right: 0;
}

.img__effects:hover {
    transform: rotate(0.5turn);
}

.about__values {
    display: flex;
    justify-content: space-between;
}

.about__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__image-box {
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.about__image-box:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 3px solid #F75E05;
}

.about__numbers {
    margin-left: 30px;
    align-self: center;
}

.about__number {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    transition: 1s;
}

.about__number:last-child {
    margin-bottom: 0;
}

.about__number:hover {
    color: aqua;
    transform: scale(1.2);
}

.about__number span {
    font-size: 48px;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 1px;
    color: #FF3F3A;
    margin-right: 16px;
}

.about__number span:hover {
    color: #F75E05;
    text-shadow: 3px 3px rgb(210, 168, 50);
}