html, body {
    font-family: lato, sans-serif;
    color: #424551
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0px 15px;
    margin: 0 auto;
    height: 100%;
}

.button {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    white-space: nowrap;
    transition: .3s;
}

.button:hover {
    transform: scale(1.05);
}

.button--empty {
    background-image: none;
    border-left: 2px solid #FF3F3A;
    border-right: 2px solid #F75E05;
    background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
    background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
    background-size: 100% 1px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.button--empty span {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ----------------------------------------------------------------------------- */

.header {
    font-weight: 700;
    background: url('../images/decor/shapes-bg.svg') 0 0 / 100% 100% no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.header__logo {
    margin-right: 36px;
}

.header__user-nav {
    position: relative;
    padding-left: 28px;
}

.header__user-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../images/icon/user-icon.svg");
    width: 20px;
    height: 20px;
    display: block;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
    transition: all .3s;
}

.header__user-btn:hover {
    color: #FF3F3A;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    line-height: 1.6;
    white-space: nowrap;
    transition: all .3s;
}

.header__nav-link:hover {
    color: #FF3F3A;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.header__user-nav {
    position: relative;
    padding-left: 28px;
}

.header__user-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../images/icon/user-icon.svg");
    width: 20px;
    height: 20px;
    display: block;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
    transition: all .3s;
}

.header__user-btn:hover {
    color: #FF3F3A;
}



.header__body {
    
}

.header__body-inner {
    display: grid;
    grid-template-rows: auto auto;
    align-content: space-around;
    height: 100vh;
}

.header__main {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    
    color: #1E212C;
}

.header__content {
    margin-right: 30px;
}

.header__play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.header__play svg{  
    margin-right: 16px;
    border-radius: 50%;
    transition: all .3s;
}

.header__play:hover svg{
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
    max-width: 500px;
    margin-bottom: 60px;
    font-size: 64px;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 1px;
}

.header__content-buttons {
    display: flex;
}

.header__content-btn {
    margin-right: 24px;
}

.header__content-btn:last-child {
    margin-right: 0px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin-bottom: 80px;
}

.header__row>span {
    width: 8px;
    height: 8px;
    background: #FF3F3A;
    border-radius: 50%;
    margin-right: 15px;
}

.header__row-item {
    display: flex;
    align-items: center;
}

.header__row-item span{
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    margin-right: 12px;
}